%table.table.table-inverse#all-students-table
  %thead
    %tr
      %th Student Name
      %th Grade
      %th Gender
      %th Teacher
      %th GPA
      %th Detention Count
  %tbody
    - students.each do |student|
      = render partial: "/students/student_table_row", locals: { student: student }
