%table.table.table-inverse#all-students-table
  %thead
    %tr
      %th Student Name
      %th Grade
      %th Gender
      - if request.env['PATH_INFO'] == '/' || request.env['PATH_INFO'] == '/students'
        %th Teacher
      %th GPA
      %th Detention Count
  %tbody
    - students.each do |student|
      = render partial: "/students/student_table_row", locals: { student: student }
