.container
  %h2 Hawkins Middle School Students
  = render partial: "table", locals: {students: @student_paginate}
  = will_paginate @student_paginate

  - if teacher_signed_in?
    = link_to "Create a Student", new_student_path, class: "btn btn-secondary"
