
%h2 Hawkins Middle School Students

%table.table.table-striped
  %thead
    %tr
      %th First Name
      %th Last Name
      %th Teacher Team
      %th Grade
      %th Gender
      %th GPA
      %th Detention Count
  %tbody
    %tr
      %td Mark
      %td Otto
      %td @mdo
      %td Mark
      %td Otto
      %td @mdo
      %td @mdo
      %td= link_to '', "#", class: "glyphicon glyphicon-plus"
      %td= link_to '', "#", class: "glyphicon glyphicon-minus"
    %tr
      %td Mark
      %td Otto
      %td @mdo
      %td Mark
      %td Otto
      %td @mdo
      %td @mdo

    %tr
      %td Mark
      %td Otto
      %td @mdo
      %td Mark
      %td Otto
      %td @mdo
      %td @mdo

