%h1 Teachers
%ul#teacher-list
- @teachers.each do |teacher|
  = image_tag(teacher.avatar.url, size: "100x100")
  = link_to "#{teacher.last_name}, #{teacher.first_name}", teacher_path(teacher)
/ removed li but this will need to be styled as a gallery anyway
